node_modules/
src/data/_avemaria_raw.json
.expo/
dist/
web-build/
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
